/* src/components/PortfolioForm/PortfolioForm.css */

.message {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .message.success {
    color: green;
    background-color: #e7f9e7;
  }
  
  .message.warning {
    color: orange;
    background-color: #fff4e5;
  }
  
  .message.error {
    color: red;
    background-color: #f9e7e7;
  }
  